$mobile: 500px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;

$primary-color: #000000;
$secondary-color: #afadb5;
$accent-color: #518581;
$background-color: #ffffff;
$border-color: #f3f3f3;
$gray-color: #666;

$page-background-color: #f5f5f5;

$button-primary-text: #ffffff;
$button-primary-bg-hover: #86aaa7;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-bg-active: #487773;

$space-l: 20px;
$space-s: 14px;
$space-xl: 24px;
$space-xs: 12px;
$space-xxs: 8px;

$navbar-height: 4rem;

$card-width: 22.5rem;

$box-shadow: 0px 4px 10px 0px #00000040;
