@use 'styles/main.scss' as *;

.products-page {
  padding: 2rem 6.25rem;
  background-color: $page-background-color;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    padding: 3rem 2rem;
  }

  @media (min-width: $desktop) {
    padding: 4rem 4rem;
  }

  .product-card {
    border-radius: 8px;
  }
}

.products-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-weight: bold;
  margin-bottom: 1.5rem;
}

product-page-search {
  flex: 1;
  max-width: 100%;

  @media (min-width: $tablet) {
    max-width: 400px;
  }
}

.products-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  margin-bottom: 1rem;
}

.pagination {
  @include flex-container(row, center, center);

  .pagination-btn {
    @include flex-container(row, center, center);
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }

  .pagination-btn--active {
    background-color: $accent-color;
    border-radius: 5px;
    color: $background-color;
  }
}
